{
  "semi": true,                   
  "singleQuote": true,             
  "jsxSingleQuote": false,         
  "trailingComma": "all",          
  "bracketSpacing": true,          
  "printWidth": 120,               
  "tabWidth": 2,                   
  "useTabs": false,                
  "endOfLine": "lf",           
  "bracketSameLine": false,        
  "proseWrap": "preserve"          
}
